In [97]:
import requests
import json
import pandas as pd

In [100]:
df = pd.read_json("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json")  
df.head()
# baseurl = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"

,Id,Job Title,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role
0,0,Digital Media Planner,5 - 10 yrs,Media Planning| Digital Media,Advertising,Los Angeles,"Marketing , Advertising , MR , PR , Media Planning","Advertising, PR, MR, Event Management",Media Planning Executive/Manager
1,1,Online Bidding Executive,2 - 5 yrs,pre sales| closing| software knowledge| clients| requirements| negotiating| client| online bidding| good communication| technology,Retail Sales,New York,"Sales , Retail , Business Development","IT-Software, Software Services",Sales Executive/Officer
2,2,Trainee Research/ Research Executive- Hi- Tech Operations,0 - 1 yrs,Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive,R&D,San Francisco,"Engineering Design , R&D","Recruitment, Staffing",R&D Executive
3,3,Technical Support,0 - 5 yrs,Technical Support,Admin/Maintenance/Security/Datawarehousing,Washington DC,"IT Software - Application Programming , Maintenance","IT-Software, Software Services",Technical Support Engineer
4,4,Software Test Engineer -hyderabad,2 - 5 yrs,manual testing| test engineering| test cases| web testing| web technologies,Programming & Design,Boston,IT Software - QA & Testing,"IT-Software, Software Services",Testing Engineer

In [101]:
df_jobslist = df[df["Key Skills"].str.contains("Python")]
count = len(df_jobslist)  
count

1173

In [102]:
def get_number_of_jobs(technology):
    number_of_jobs= 0
    df_jobslist = df[df["Key Skills"].str.contains(technology)]
    number_of_jobs = len(df_jobslist)  
    return technology,number_of_jobs

In [103]:
print(get_number_of_jobs('Python'))

('Python', 1173)

In [104]:
def get_number_of_jobs_L(location):
    number_of_jobs= 0
    df_loclist = df[df["Location"].str.contains(location)]
    number_of_jobs = len(df_loclist)  
    return location,number_of_jobs

In [105]:
df.Location.unique()

array(['Los Angeles', 'New York', 'San Francisco', 'Washington DC',
       'Boston', 'Seattle', 'Detroit', 'Austin', 'Houston',
       'Philadelphia', 'New Orleons', 'Baltimore', 'Dallas'], dtype=object)

In [106]:
get_number_of_jobs_L('Los Angeles')

('Los Angeles', 640)

In [107]:
df_loccount = df.groupby(['Location']).size()
df_loccount.sort_values(ascending=False)

Location
Washington DC    5316
Detroit          3945
Seattle          3375
Houston          3339
New York         3226
Boston           2966
Baltimore        1263
Dallas           1208
New Orleons       817
Los Angeles       640
San Francisco     435
Austin            434
Philadelphia       41
dtype: int64

In [144]:
technologies = ['C','C%23','C%2B%2B','Java','JavaScript','Python','Scala','Oracle','SQL Server','MySQL Server','PostgreSQL','MongoDB']
technologies

['C',
 'C%23',
 'C%2B%2B',
 'Java',
 'JavaScript',
 'Python',
 'Scala',
 'Oracle',
 'SQL Server',
 'MySQL Server',
 'PostgreSQL',
 'MongoDB']

In [133]:
!pip3 install openpyxl
from openpyxl import Workbook

Requirement already satisfied: openpyxl in c:\anaconda6.2.1\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\anaconda6.2.1\lib\site-packages (from openpyxl) (1.1.0)

In [151]:
wb=Workbook() 
ws=wb.active
ws

In [154]:
tech_list = list()
for language in technologies:
    jobs = get_number_of_jobs(language)
    print(jobs) 
    tech_list.append(jobs)
    
ws.append(['Language', 'Job Postings'])
[ws.append(i) for i in tech_list]

('C', 13498)
('C%23', 0)
('C%2B%2B', 0)
('Java', 2609)
('JavaScript', 355)
('Python', 1173)
('Scala', 33)
('Oracle', 784)
('SQL Server', 250)
('MySQL Server', 0)
('PostgreSQL', 10)
('MongoDB', 174)

[None, None, None, None, None, None, None, None, None, None, None, None]

In [155]:
wb.save(r"C:\Users\rajes\OneDrive\Desktop\df_skills11.xlsx")

In [156]:
#Only for learning purpose
# pd.set_option('max_colwidth', None) # show full width of showing cols
#pd.set_option('display.max_rows', None)

In [184]:
#Only for learning purpose
# df_skills = df[['Job Title', 'Key Skills']]
# df_skills.head()

In [ ]:
#Only for learning purpose
#df_skills['Job Title'].str.strip()
#df_skills['Key Skills'].str.strip()
#df_skills

In [178]:
#Only for learning purpose
#style.set_properties only styles for display does not actually change alignment in dataframe
# dfStyler = df_skills.style.set_properties(**{'text-align': 'left'})
# dfStyler.set_table_styles([dict(selector='th', props=[('text-align', 'left')])])
# dfStyler

In [179]:
#Only for learning purpose by splitting using the delimiter
# Split text into a list
# df_skills['Key Skills'] = df_skills['Key Skills'].str.split('|')
# df_skills.head()

In [180]:
#Only for learning purpose
# Convert list into multiple rows
# df_skills = df_skills.explode('Key Skills')
# df_skills.head(20)

In [181]:
#Only for learning purpose
# df_skills.groupby(['Key Skills']).agg(['count']).sort_values(['Key Skills'], ascending=True)

In [182]:
# df_skills[df_skills['Key Skills'].str.contains('Python', na=False)].reset_index()

In [183]:
#Only for learning purpose
# df_skills.query('`Key Skills`.str.contains("Python")', engine='python').shape[0]